<!DOCTYPE html>
<html lang="en" ng-app="BeMEAN">
<head>
	<meta charset="UTF-8">
	<title>Angular is awsome!</title>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<style>
	.wrapper{
		max-width: 600px;
	}
</style>
<script src="script.js"></script>

<body ng-controller="UserController as User">
	
	<div class="wrapper row">

	<h1>{{ User.titulo }}</h1>

	<p class="col s12">
		<label>
			<input type="text" ng-model="form.User.name"  placeholder="Name">
		</label>

		<label>
			<input type="email" ng-model="form.User.email" placeholder="Email">
		</label>
	</p>

	<button ng-click="User.add(form.User)" class="btn btn-large col s12 waves-effect waves-light">ADD USER</button>

	<table border="1">
		<thead>
			<tr>
				

				<th colspan="{{ User.tamanhokey + 1 }}">
					<label>
						<input type="text" ng-model="buscaUser" placeholder="Buscar usuário">
					</label>
				</th>

			</tr>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in User.users | filter: buscaUser">
				<td>
					<input type="checkbox" ng-model="user.selecionado" id="user-{{ $index }}">
					<label for="user-{{ $index }}"></label>
				</td>

				<td>
					{{ user.name }}
				</td>

				<td>
					{{ user.email }}
				</td>
				
			</tr>
		</tbody>
	</table>

	<button ng-click="User.remove(User.users)" class="btn btn-large col s12 waves-effect waves-light red">Remover</button>

	</div>
	<script src="angular.min.js"></script>
	<script>

		angular.module('BeMEAN', [])
		.controller('UserController', UserController);

		function UserController(){
			var vm = this;
			vm.titulo = "Be MEAN";
			vm.users =[
			{name: 'Lucas', email: 'email@email.com'},
			{name: 'Jon', email: 'jondoe@email.com'},
			{name: 'Fulano', email: 'fulano@emal.com'}
			];

			vm.add = add;
			vm.filter = filter;

			function getKeyLength(){
				return Object.keys(angular.copy(vm.users[0])).length;
			}
			vm.tamanhokey = getKeyLength();


			function filter(tipo) {
				console.log(vm.users);
			}

			function add(user){
				vm.users.push(angular.copy(user));
			}

			vm.remove = remove;
			function remove(users){
				
				vm.users = users.filter(
					function(el){
					return !el.selecionado;
				});

			}
		}

	</script>
</body>

</html>